
<div class="flex min-h-full flex-col items-center justify-center  sm:px-6 lg:px-8">

  <div class=" sm:mx-auto sm:w-full sm:max-w-[680px]">
    <div class="bg-white px-6 py-12 shadow-sm sm:rounded-lg sm:px-12">
      <div class="sm:mx-auto sm:w-full sm:max-w-md">
        <h2 class="text-center text-2xl/9 font-bold tracking-tight text-secondary uppercase" style="letter-spacing: 1px;">RECUPERACIÓN DE LA CUENTA</h2>
      </div>



      <div  class="mt-5 space-y-6">
        <div>
          <label for="new-password" class="block text-lg font-medium text-center text-secondary">Ingresa la nueva contraseña</label>
          <div class="mt-2">
            <input id="new-password" type="password" name="new-password" required autocomplete="new-password" class="block w-full rounded-sm bg-secondary px-3 py-2.5 text-base text-secondary  placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-sky-600 sm:text-sm/6" />
          </div>
        </div>
        <div>
          <label for="repeteat-new-password" class="block text-lg font-medium text-center text-secondary">Repetir  nueva contraseña</label>
          <div class="mt-2">
            <input id="repeteat-new-password" type="password" name="repeteat-new-password" required autocomplete="repeteat-new-password" class="block w-full rounded-sm bg-secondary px-3 py-2.5 text-base text-secondary  placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-sky-600 sm:text-sm/6" />
          </div>
        </div>


        <div class="mx-auto lg:max-w-3/5 mt-6">
          <button routerLink="/auth" class="flex w-full justify-center btn-primary">Enviar</button>
        </div>

      </div>


    </div>


  </div>
</div>
