<div class=" min-h-screen ">
  <div class=" mx-auto">
    <!-- Header -->
    <div class="flex flex-col md:flex-row justify-between items-start md:items-center mb-8">
      <div>
        <h1 class="lg:text-2xl text-lg font-bold tracking-tight text-secondary mb-2">Gestión de Zonas</h1>
        <p class="text-gray-600">Administra las zonas geográficas de la plataforma</p>
      </div>
      <button (click)="newZone()" class="btn-primary mt-4 md:mt-0 rounded-3xl px-6 py-2 flex items-center">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 mr-2" fill="none" viewBox="0 0 24 24"
          stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6v6m0 0v6m0-6h6m-6 0H6" />
        </svg>
        Nueva Zona
      </button>
    </div>



    <div *ngIf="!isLoading" class="grid lg:grid-cols-7 gap-3 grid-cols-1">
      <div class="lg:col-span-2">
        <app-alert *ngIf="!zones.length" [message]="'No encontramos zonas creadas'"></app-alert>
        <app-list *ngIf="zones.length" (zoneSelected)="selectZone($event)" [zones]="zones"></app-list>
        <app-pagination [page]="page" [pageSize]="pageSize" [totalItems]="totalItems" [maxLinks]="7"
          [pageSizeOptions]="[5,10,20,50]" (pageChange)="onPage($event)"
          (pageSizeChange)="onPageSize($event)"></app-pagination>
      </div>
      <div class="lg:col-span-5">
        <app-new (refresh)="selectZone(zoneSelected.id)" [data]="zoneSelected" *ngIf="showNewZoneForm"
          (cancel)="showNewZoneForm = false" (zonaSubmit)="onSubmit($event)"></app-new>
      </div>
    </div>

    <app-loader *ngIf="isLoading"></app-loader>


  </div>
</div>
