<div class="min-h-full">


  <div class="background-container">
    <div class="overlay"></div>
    <div class="py-10">
      <!-- El resto de tu contenido aquí -->
      <div class="content">
        <main>
          <div class="mx-auto max-w-7xl px-4 py-8 sm:px-6 lg:px-8">
            <div class="flex min-h-full flex-col items-center justify-center  sm:px-6 lg:px-8">

              <div class=" sm:mx-auto sm:w-full sm:max-w-[680px]">
                <div class="bg-white px-6 py-12 shadow-sm sm:rounded-lg sm:px-12">
                  <div class="sm:mx-auto sm:w-full sm:max-w-md">
                    <h2 class="text-center text-2xl/9 font-bold tracking-tight text-secondary uppercase" style="letter-spacing: 1px;">Administrador CUMON APP</h2>
                  </div>


                  <div  class="space-y-6 mt-5">
                    <div>
                      <label for="email" class="block text-sm/6 font-medium text-secondary">Correo electrónico</label>
                      <div class="mt-2">
                        <input id="email" type="email" name="email" required autocomplete="email" class="block w-full rounded-sm bg-secondary px-3 py-1.5 text-base text-secondary  placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-sky-600 sm:text-sm/6" />
                      </div>
                    </div>

                    <div>
                      <label for="password" class="block text-sm/6 font-medium text-secondary">Contraseña</label>
                      <div class="mt-2">
                        <input id="password" type="password" name="password" required autocomplete="current-password" class="block w-full rounded-sm bg-secondary px-3 py-1.5 text-base text-gray-900  placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-sky-600 sm:text-sm/6" />
                      </div>
                    </div>

                    <div class="flex items-center justify-between">
                      <div class="flex gap-3">
                        <div class="flex h-6 shrink-0 items-center">
                          <div class="group grid size-4 grid-cols-1">
                            <input id="remember-me" type="checkbox" name="remember-me" class="col-start-1 row-start-1 appearance-none rounded-sm bg-secondary checked:border-sky-600 checked:bg-sky-600 indeterminate:border-sky-600 indeterminate:bg-sky-600 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-sky-600 disabled:border-gray-300 disabled:bg-gray-100 disabled:checked:bg-gray-100 forced-colors:appearance-auto" />
                            <svg viewBox="0 0 14 14" fill="none" class="pointer-events-none col-start-1 row-start-1 size-3.5 self-center justify-self-center stroke-white group-has-disabled:stroke-gray-950/25">
                              <path d="M3 8L6 11L11 3.5" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="opacity-0 group-has-checked:opacity-100" />
                              <path d="M3 7H11" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="opacity-0 group-has-indeterminate:opacity-100" />
                            </svg>
                          </div>
                        </div>
                        <label for="remember-me" class="block text-sm/6 text-secondary">Recordar mis datos</label>
                      </div>


                    </div>

                    <div class="mx-auto lg:max-w-3/5 mt-6">
                      <button type="button" routerLink="/admin-dashboard" class="flex w-full justify-center btn-primary">Iniciar Sesión</button>
                    </div>
                  </div>


                </div>


              </div>
            </div>
          </div>
        </main>
      </div>
    </div>

  </div>
</div>

