
<div class="min-h-full">
  <app-users-header [userRole]="3" ></app-users-header>
  <main class="-mt-24 pb-8">
    <div class="mx-auto max-w-3xl px-4 sm:px-6 lg:max-w-7xl lg:px-8">
      <h1 class="sr-only">Page title</h1>
      <!-- Main 3 column grid -->
      <div class="grid grid-cols-1 items-start gap-4  lg:gap-8">
        <!-- Left column -->
        <div class="grid grid-cols-1 gap-4 ">
          <section aria-labelledby="section-1-title">
            <h2 id="section-1-title" class="sr-only">Section title</h2>
            <div class="overflow-hidden rounded-lg bg-white shadow-sm">
              <div class="p-6">
                <router-outlet></router-outlet>
              </div>
            </div>
          </section>
        </div>


      </div>
    </div>
  </main>
  <footer>
    <div class="mx-auto max-w-3xl px-4 sm:px-6 lg:max-w-7xl lg:px-8">
      <div class="border-t border-gray-200 py-8 text-center text-sm text-gray-500 sm:text-left"><span class="block sm:inline">&copy; 2025 CUMON APP, Inc.</span> <span class="block sm:inline">All rights reserved.</span></div>
    </div>
  </footer>
</div>
