<div class="   ">
    <header class="mb-5">
        <h1 class="lg:text-2xl text-lg font-bold tracking-tight text-secondary">Listado de Servicios</h1>
    </header>
  <div class="mb-4 relative">
    <input
      type="text"
      [(ngModel)]="searchTerm"
      (input)="filterTable()"
      placeholder="Buscar envíos..."
      class="block w-full rounded-3xl bg-secondary px-3 py-1.5 text-base text-primary  placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-sky-600 sm:text-sm/6"
     />
     <div class="absolute right-2 top-2">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6 text-primary">
          <path stroke-linecap="round" stroke-linejoin="round" d="m21 21-5.197-5.197m0 0A7.5 7.5 0 1 0 5.196 5.196a7.5 7.5 0 0 0 10.607 10.607Z" />
        </svg>

     </div>
  </div>
  <div class="-mx-4 -my-2 overflow-x-auto sm:-mx-6 lg:-mx-8 mb-5">
    <div class="inline-block min-w-full py-2 align-middle sm:px-6 lg:px-8">
      <table class="min-w-full ">
        <thead>
          <tr>
            <th scope="col" class="py-3.5 pl-4 pr-3 text-nowrap text-center text-sm font-semibold text-[#7E8195] sm:pl-0">Fecha</th>
            <th scope="col" class="px-3 py-3.5 text-nowrap text-center text-sm font-semibold text-[#7E8195]">Procedencia</th>
            <th scope="col" class="px-3 py-3.5 text-nowrap text-center text-sm font-semibold text-[#7E8195]">Destino</th>
            <th scope="col" class="px-3 py-3.5 text-nowrap text-center text-sm font-semibold text-[#7E8195]">Mercancía</th>
            <th scope="col" class="px-3 py-3.5 text-nowrap text-center text-sm font-semibold text-[#7E8195]">Ciudad</th>
            <th scope="col" class="px-3 py-3.5 text-nowrap text-center text-sm font-semibold text-[#7E8195]">Estado </th>
            <th scope="col" class="px-3 py-3.5 text-nowrap text-center text-sm font-semibold text-[#7E8195]"></th>
          </tr>
        </thead>
        <tbody class=" ">
          <tr class="" *ngFor="let e of filteredEnvios">
            <td class="bg-secondary rounded-l-3xl pl-2 whitespace-nowrap border-b-8 border-white mb-2 text-center px-3 py-4 text-sm text-primary font-normal ">
              {{e.fecha}}
            </td>
            <td class="whitespace-nowrap border-b-8 border-white mb-2 bg-secondary text-center px-3 py-4 text-sm text-primary font-normal">
              {{e.procedencia}}
            </td>
            <td class="whitespace-nowrap border-b-8 border-white mb-2 bg-secondary text-center px-3 py-4 text-sm text-primary font-normal">
              {{e.destino}}
            </td>
            <td class="whitespace-nowrap border-b-8 border-white mb-2 bg-secondary text-center px-3 py-4 text-sm text-primary font-normal">
              {{e.mercancia}}
            </td>
            <td class="whitespace-nowrap border-b-8 border-white mb-2 bg-secondary text-center px-3 py-4 text-sm text-primary font-normal">
              {{e.ciudad}}
            </td>
            <td class="whitespace-nowrap border-b-8 border-white mb-2 bg-secondary text-center px-3 py-4 text-sm text-primary font-normal ">
              <div *ngIf="e.estado == 'Entregada'" class="flex items-center gap-2 flex-nowrap">
                <div class="h-2 w-2 rounded-full bg-green-600 p-2 "></div>
                <span class="text-green-600 font-medium">Entregada</span>
              </div>
              <div *ngIf="e.estado == 'Pendiente'" class="flex items-center gap-2 flex-nowrap">
                <div class="h-2 w-2 rounded-full bg-gray-600 p-2 "></div>
                <span class="text-gray-600 font-medium">Pendiente</span>
              </div>
              <div *ngIf="e.estado == 'Cancelado'" class="flex items-center gap-2 flex-nowrap">
                <div class="h-2 w-2 rounded-full bg-red-600 p-2 "></div>
                <span class="text-red-600 font-medium">Cancelado</span>
              </div>
              <div *ngIf="e.estado == 'En curso'" class="flex items-center gap-2 flex-nowrap">
                <div class="h-2 w-2 rounded-full bg-blue-600 p-2 "></div>
                <span class="text-blue-600 font-medium">En curso</span>
              </div>
            </td>
            <td class="whitespace-nowrap border-b-8 rounded-r-3xl border-white mb-2 bg-secondary text-center px-3 py-4 text-sm text-primary font-normal ">
             <button [routerLink]="['/users-dashboard/services/detail', e.id]" type="button"  class="text-blue-500 hover:text-blue-700">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M2.036 12.322a1.012 1.012 0 0 1 0-.639C3.423 7.51 7.36 4.5 12 4.5c4.638 0 8.573 3.007 9.963 7.178.07.207.07.431 0 .639C20.577 16.49 16.64 19.5 12 19.5c-4.638 0-8.573-3.007-9.963-7.178Z" />
                  <path stroke-linecap="round" stroke-linejoin="round" d="M15 12a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z" />
                </svg>
              </button>
            </td>

          </tr>

          <!-- More people... -->
        </tbody>
      </table>
    </div>
  </div>
</div>


